@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

body {
    box-sizing: border-box;
    background-color: pink;
    font-family: 'Noto Sans KR', sans-serif;
    padding:0;
    margin:0;
}

body a {
text-decoration: none;
color:inherit;
}

body a:visited {
text-decoration: none;
color:inherit;
}

nav {
padding:1%;
width:100%;
position: fixed;
top:0;
transition: all .33s ease-in-out;
background-color: rgba(255,255,255,.25);
}

nav a {
    margin:2%;
    font-size: 16px;
    text-transform: capitalize;

}

nav a:hover {

}

.container {
    display:flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    align-items: center;
    /* flex-wrap: wrap; */
    margin: 4% 0;
}

.heroLeft  {

    flex:1;
    text-align: center;
    overflow: hidden;
    /* border: 1px solid #000; */
}
.heroRight {
    flex:1;
    /* border: 1px solid #000; */
    text-align: center;
    overflow: hidden;
}

.container img {
    /* height:50%; */
    width:100%;

    object-fit: contain;


}


.container h2 {
    text-transform: uppercase;
    color:white;
    font-size: 30px;
}

span {
    color:tomato;
}

.textHolder {
    width: 80%;
    margin:auto;
}

.scrollNav {
    background-color: hotpink;
    color:white;
}

.textHolder>* {
    margin:5%;

}